<div class="my-dropzone"></div>

<script>
  // Dropzone has been added as a global variable.
  const dropzone = new Dropzone("div.my-dropzone", { url: "/Files" });
</script>


@section Scripts {
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link
    rel="stylesheet"
    href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
    type="text/css"
    />
}